body {
  margin: 0;
}

.margin {
  margin: 100px;
}

.table {
  width: 100%;
  text-align: left;
}

.tabla td {
  padding: 10px 0 10px 0;
}

#menu {
  background-color: #253a46;
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

#menu li {
  list-style: none;
}

#menu a {
  color: white;
  padding-right: 50px;
  text-decoration: none;
}
